<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>问卷调查</title>
</head>

<body>
    <div id="app">
        <div v-for="(item, index) in questions" :key="index">
            <radio-select :name="item.name" @pick="handlePick" :title="item.title" :choices="item.choices"
                v-show="page==index" v-if="item.type=='radio'
            ">
            </radio-select>
            <multi-select @pick="handlePick" :title="item.title" :choices="item.choices" v-show="page==index"
                v-if="item.type=='multi'"></multi-select>
            <typetext @pick="handlePick" :title="item.title" v-show="page==index" v-if="item.type=='typetext'">
            </typetext>
        </div>
        <mybtn v-show="page == count-1" :banned="isBanned" @click="handleSubmit">提交</mybtn>
        <mybtn v-show="page >= 1" :banned="isBanned" @click="handlePrev">上一步</mybtn>
        <mybtn v-show="page < count-1" :banned="isBanned" @click="handleNext">下一步</mybtn>
        <mybtn :banned="false" @click="handleReset">重置</mybtn>
    </div>
    <script src="src/js/vue.min.js"></script>
    <script src="src/js/comounts.js"></script>
    <script src="src/js/buttons.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                isBanned: true,
                page: 0,
                questions: [
                    {
                        name: 'gender',
                        type: 'radio',
                        title: '你的性别',
                        choices: ["男", "女", "保密"]
                    },
                    {

                        type: "multi",
                        title: '你的爱好',
                        choices: ["唱歌", "跳舞", "rap", "篮球"],
                        picked: []
                    },
                    {
                        type: 'typetext',
                        title: '自我介绍',
                        text: ""
                    }
                ]
            },
            computed: {
                count: function () {
                    //获取问题的数量,等同于页数
                    return this.questions.length;
                }
            },
            methods: {
                handlePick: function (val) {
                    //通过页数拿到问题
                    let question = this.questions[this.page];
                    switch (question.type) {
                        case "radio":
                            if (val) {
                                //不禁用按钮
                                this.isBanned = false;
                                this.questions[this.page].picked = val;
                                return;
                            }
                            break;
                        case "multi":
                            if (val.length >= 2) {
                                this.isBanned = false;
                                question.pickeds = val;
                                return;
                            }
                            break;
                        case "typetext":
                            if (val.length >= 10) {
                                this.isBanned = false;
                                question.text = val;
                                return;
                            }
                            break;
                    }
                    this.isBanned = true;
                },
                isDisable: function () {
                    let question = this.questions[this.page];
                    switch (question.type) {
                        case "radio":
                            this.isBanned = question.picked ? false : true;
                            break;
                        case "multi":
                            this.isBanned = question.picked.length >= 2 ? false : true;
                            break;
                        case "typetext":
                            this.isBanned = question.text.length >= 10 ? false : true;
                            break;
                    }
                },
                handleNext: function () {
                    this.page += 1;
                    this.isDisable();
                },
                handlePrev: function () {
                    this.page -= 1;
                    this.isDisable();
                },
                handleReset: function () {
                    this.$children[this.page].culValue = "";
                    this.isBanned = true;
                },
                handleSubmit: function () {
                    let str = "";
                    this.questions.forEach((item, index) => {
                        switch (index) {
                            case 0:
                                str += item.picked + "  ";
                                break;
                            case 1:
                                str += item.pickeds + "  ";
                                break;
                            case 2:
                                str += item.text + "  ";
                                break;
                        }
                    });
                    console.log(str);
                }

            },

        })

    </script>
</body>

</html>